/* Variables */
/* SCSS */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-family: "Balsamiq Sans", cursive !important;
  background-color: black !important;
  color: white !important;
  margin: 0px;
  padding: 0px;
}

body a {
  color: inherit;
  text-decoration: inherit;
}

body .data_send {
  border-bottom-style: none;
}

body .data_entry {
  width: 12vw;
}

body input {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  border: none;
  border-bottom: white;
  border-width: 1px;
  border-bottom-style: solid;
}

body .Header_navigation {
  background-color: #593d2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  color: white;
  text-align: center;
}

body .Header_navigation .Header_logo {
  width: 10%;
  margin: auto 10px;
}

body .Header_navigation .Header_nav {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  font-weight: bolder;
  font-size: 1.3vw;
  text-align: center;
}

body .Header_navigation .Header_nav a {
  margin: auto 15px;
  text-decoration: underline;
}

body .Header_navigation .Header_nav .Header_nav_mobile {
  visibility: hidden;
}

body .Header_navigation .Header_cart {
  width: 10%;
  margin: auto 15px;
}

body .Header_navigation .Header_cart .fa-shopping-cart {
  color: white;
}

body .Main_content {
  min-height: 54vh;
}

body .Main_content .intro {
  position: relative;
}

body .Main_content .intro article h1 {
  top: 10%;
  left: 73%;
  position: absolute;
  font-size: 2.5vw;
}

body .Main_content .intro article p {
  left: 65%;
  top: 25%;
  position: absolute;
  font-size: 2.5vh;
  width: 26vw;
  text-align: justify;
}

body .Main_content .main_info {
  margin: 30px 0px;
}

body .Main_content .main_info h1 {
  font-size: 4vh;
}

body .Main_content .main_info p {
  font-size: 2.7vh;
}

body .Main_content .main_info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .Main_content .main_info .container img:first-child :last-child {
  float: left;
}

body .Main_content .main_info .container article {
  text-align: center;
  margin: auto;
  margin-top: 16vh;
  width: 50vw;
}

body .Main_content .main_info .container img {
  width: 100%;
}

body .Footer_navigation {
  height: 16vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 20px;
  background-color: #593d2c;
}

body .Footer_navigation .footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

body .Footer_navigation .footer_links ul {
  margin: auto 10px;
  margin-top: 0px;
  list-style-type: none;
  padding: 0px;
}

body .Footer_navigation .social_media {
  text-align: center;
}

body .Footer_navigation .social_media .social_media_links {
  font-size: 5vh;
}

.location_contacts {
  margin: 10vh auto;
}

.location_contacts td,
.location_contacts th {
  border: 1px solid #593d2c;
  text-align: left;
  padding: 8px;
}

.location_contacts tr:nth-child(even) {
  background-color: #593d2c;
}

.experiences_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.experiences_group img {
  height: 60vh;
}

.incentive {
  text-align: center;
}

.form_container {
  background-image: url("../images/subscription worked.jpg");
  min-height: 54vh;
  padding-top: 12vh;
}

.coffee_subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25vw;
  margin: 0px auto;
}

.coffee_subscription .form_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px/2px auto;
}

.coffee_subscription .form_input input {
  width: 6cw/2vw;
}

.coffee_subscription .form_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px auto;
}

.coffee_subscription .sub_btn_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coffee_subscription .sub_btn_group .btn_subscription {
  font-family: inherit;
  text-align: center;
  width: 6vw;
  margin: 10px auto;
  color: white;
  background-color: transparent;
  border-style: none;
  font-size: 31px;
  text-decoration: underline;
}

.products_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  text-align: center;
  font-size: 3vh;
}

.products_container .products img {
  width: 50vh;
}

a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: inherit !important;
}

@media only screen and (max-width: 768px) {
  body .Header_navigation {
    height: 10vh;
  }
  body .Header_navigation .Header_logo {
    display: none;
  }
  body .Header_navigation .Header_nav {
    font-size: 3.5vw;
  }
  body .Header_navigation .Header_nav a {
    margin: auto 5px;
  }
  body .Header_navigation .Header_cart {
    display: none;
  }
  body .Main_content .intro article h1 {
    top: unset;
    left: unset;
    position: unset;
    text-align: center;
    font-size: 6.5vw;
  }
  body .Main_content .intro article p {
    top: unset;
    left: unset;
    position: unset;
    width: unset;
    text-align: center;
  }
  body .Main_content .main_info .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body .Main_content .main_info .container .shop_info {
    text-align: center;
    margin: auto;
    margin-top: unset;
    width: unset;
  }
  body .Main_content .main_info .container article {
    margin: auto;
    margin-top: unset;
    width: unset;
  }
  body .Main_content .main_info .container:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .Main_content .products_container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  body .Main_content .experiences_group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .Main_content .form_container {
    background-position: center center;
    background-size: 200vh;
    padding-top: 5vh;
  }
  body .Main_content .form_container .coffee_subscription {
    width: unset;
    margin: unset;
  }
  body .Main_content .form_container .coffee_subscription .sub_btn_group button {
    width: unset;
  }
  body .Footer_navigation {
    height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  body .Footer_navigation .social_media .social_media_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .Footer_navigation .newsletter input {
    width: 50%;
  }
  body .Footer_navigation .footer_links {
    margin: 5vh auto;
  }
}
/*# sourceMappingURL=CoffeeShop.css.map */