/* Variables */
$Coffee: #593d2c;
$Default: unset;
$FooterFont: 3vh;

/* SCSS */
.selector-for-some-widget {
  box-sizing: content-box;
}
//Desktop view
//INDEX
body {
  @import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
  font-family: "Balsamiq Sans", cursive !important;
  background-color: black !important;
  a {
    color: inherit;
    text-decoration: inherit;
  }
  .data_send {
    border-bottom-style: none;
  }
  .data_entry {
    width: 12vw;
  }
  input {
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    border: none;
    border-bottom: white;
    border-width: 1px;
    border-bottom-style: solid;
  }
  color: white !important;
  margin: 0px;
  padding: 0px;
  //HEADER
  .Header_navigation {
    background-color: $Coffee;
    display: flex;
    height: 15vh;
    color: white;
    text-align: center;
    .Header_logo {
      width: 10%;
      margin: auto 10px;
    }
    .Header_nav {
      margin: auto;
      display: flex;
      align-content: center;
      font-weight: bolder;
      font-size: 1.3vw;
      text-align: center;
      a {
        margin: auto 15px;
        text-decoration: underline;
      }
      .Header_nav_mobile {
        visibility: hidden;
      }
    }
    .Header_cart {
      width: 10%;
      margin: auto 15px;
      .fa-shopping-cart {
        color: white;
      }
    }
  }
  //MAIN
  .Main_content {
    min-height: 54vh;
    .intro {
      position: relative;
      article {
        h1 {
          top: 10%;
          left: 73%;
          position: absolute;
          font-size: 2.5vw;
        }
        p {
          left: 65%;
          top: 25%;
          position: absolute;
          font-size: 2.5vh;
          width: 26vw;
          text-align: justify;
        }
      }
    }
    .main_info {
      margin: 30px 0px;
      h1 {
        font-size: 4vh;
      }
      p {
        font-size: 2.7vh;
      }
      .container {
        display: flex;
        img:first-child :last-child {
          float: left;
        }
        article {
          text-align: center;
          margin: auto;
          margin-top: 16vh;
          width: 50vw;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  //FOOTER
  .Footer_navigation {
    height: 16vh;
    display: flex;
    font-size: $FooterFont;
    justify-content: space-evenly;
    padding-top: 20px;
    background-color: $Coffee;
    .footer_links {
      display: flex;
      align-content: flex-start;
      ul {
        margin: auto 10px;
        margin-top: 0px;
        list-style-type: none;
        padding: 0px;
      }
    }
    .social_media {
      text-align: center;
      .social_media_links {
        font-size: 5vh;
      }
    }
  }
}
//UBIETY
.location_contacts {
  margin: 10vh auto;
  td,
  th {
    border: 1px solid $Coffee;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: $Coffee;
  }
}
//EXPERIENCES
.experiences_group {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  img {
    height: 60vh;
  }
}
.incentive {
  text-align: center;
}
//SUBSCRIPTIONS
.form_container {
  background-image: url("../images/subscription worked.jpeg");
  min-height: 54vh;
  padding-top: 12vh;
}
.coffee_subscription {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: 0px auto;
  .form_input {
    display: flex;
    justify-content: space-between;
    margin: 30px/2px auto;
    //OPERADOR EN SCSS
    input {
      width: 6cw/2vw;
      //OPERADOR EN SCSS
    }
  }
  .form_options {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
  }
  .sub_btn_group {
    display: flex;
    justify-content: center;

    .btn_subscription {
      font-family: inherit;
      text-align: center;
      width: 6vw;
      margin: 10px auto;
      color: white;
      background-color: transparent;
      border-style: none;
      font-size: 31px;

      text-decoration: underline;
    }
  }
}
//PRODUCTS
.products_container {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  font-size: 3vh;
  .products {
    img {
      width: 50vh;
    }
  }
}

//MENU ANIMATION
a:hover {
  transform: scale(1.2);
  color: inherit !important;
}
//Mobile view
@media only screen and (max-width: 768px) {
  body {
    .Header_navigation {
      height: 10vh;
      .Header_logo {
        display: none;
      }
      .Header_nav {
        font-size: 3.5vw;
        a {
          margin: auto 5px;
        }
      }
      .Header_cart {
        display: none;
      }
    }
    .Main_content {
      .intro {
        article {
          h1 {
            top: $Default;
            left: $Default;
            position: $Default;
            text-align: center;
            font-size: 6.5vw;
          }
          p {
            top: $Default;
            left: $Default;
            position: $Default;
            width: $Default;
            text-align: center;
          }
        }
      }
      .main_info {
        .container {
          flex-direction: column-reverse;
          .shop_info {
            text-align: center;
            margin: auto;
            margin-top: $Default;
            width: $Default;
          }
          article {
            margin: auto;
            margin-top: $Default;
            width: $Default;
          }
        }
        .container:nth-child(2) {
          flex-direction: column;
        }
      }
      .products_container {
        grid-template-columns: auto;
      }
      .experiences_group {
        flex-direction: column;
      }
      .form_container {
        background-position: center center;
        background-size: 200vh;
        padding-top: 5vh;
        .coffee_subscription {
          width: $Default;
          margin: $Default;
          .sub_btn_group {
            button {
              width: $Default;
            }
          }
        }
      }
    }
    .Footer_navigation {
      height: $Default;
      flex-direction: column-reverse;
      text-align: center;
      .social_media {
        .social_media_links {
          display: flex;
          justify-content: space-evenly;
        }
      }
      .newsletter {
        input {
          width: 50%;
        }
      }
      .footer_links {
        margin: 5vh auto;
      }
    }
  }
}
